.App {
  font-family: "Montserrat-Black" !important;;
}

h1 {
  font-family: "Montserrat", sans-serif !important;
  font-size: 3.5rem !important;
  line-height: 1.5 !important;
  font-weight: 900 !important;
}

h2 {
  font-family: "Montserrat" !important;;
  font-size: 3rem !important;;
  line-height: 1.5 !important;;
}

h3 {
  font-family: "Montserrat" !important;;
  font-weight: 900 !important;;
  font-size: 1.5rem !important;;
}

p {
  color: #8f8f8f !important;;
}

#title {
  background-color: #ff4c68 !important;
  color: white !important;
}

.container-fluid {
  padding: 3% 15% 7% !important;
  background-color: #ff4c68;
}

/* Navigation Bar */
.bg-light {
  background-color: #ff4c68 !important;
}
.navbar {
  padding-bottom: 4.5rem !important; 
  background: #ff4c68 !important;
}
.navbar-brand {
  color:white !important;
  font-family: "Ubuntu" !important;
  font-size: 3rem !important;
  font-weight: bold !important;
}

.nav-item {
  padding: 0 18px !important;
}

.nav-link {
  font-size: 1.2rem !important;
  color: rgba(255,255,255,.5) !important;
}

/* Donwload button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15% ;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section*/
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA section */
#cta {
  background-color: #ff4c68;
  color: white;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 15px;
}
/* Members section */
#member{
  background-color: #eaf0b7;
}
.mem-image {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
}

@media(max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
